.navbar {
    margin-bottom: 10px;
}

body {
    background: #eee;
    color: #666666; }

.jumbotron {
    text-align: center;
}
.jumbotron h2{
    font-size: 60px;
    font-weight: 100;
}

.create-button {
	margin-bottom: 10px;
}
/* TODO: share common style for these */
.reflection-summary {
	background: #fff;
	padding: 10px;
	margin-bottom: 10px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.reflection-main {
	background: #fff;
	padding: 10px;
	margin-bottom: 10px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.reflection-side {
	background: #fff;
	padding: 10px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.reflection-text {
    white-space: pre-wrap;
}