<template name="reflectionPage">
<div class="container-fluid">
  <div class="row">
    <div class="post col-md-12">
      <h3>{{formattedDate}} - {{title}}</h3>
    </div>
  </div>

  <div class="post row">
    <div class="col-md-8">
      <h4>Journal entry</h4>
      <div class="reflection-text">{{journal}}</div>
    </div>

    <div class="col-md-4">
      {{#if accomplishments}}
      <h4>Accomplishments</h4>
      <div class="reflection-text">{{accomplishments}}</div>
      {{/if}}

      {{#if todos}}
      <h4>Things to do tomorrow</h4>
      <div class="reflection-text">{{todos}}</div>
      {{/if}}

      {{#if enjoy}}
      <h4>How enjoyable was today? (1 - 10)</h4>
      <div class="reflection-text">{{enjoy}}</div>
      {{/if}}

      {{#if effective}}
      <h4>How effective were you today? (1 - 10)</h4>
      <div class="reflection-text">{{effective}}</div>
      {{/if}}
    </div>
  </div>
</div>
</template>