<template name="reflectionCreate">
  <form class="main form">

    <div class="form-group">
      <label class="control-label" for="date">Date</label>
      <div class="controls">
          <input name="date" id="date" type="text" value="{{today}}" class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="title">Title</label>
      <div class="controls">
          <input name="title" id="title" type="text" class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="journal">Journal entry</label>
      <div class="controls">
          <textarea name="journal" id="journal" rows="20" class="form-control"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="accomplishments">Accomplishments</label>
      <div class="controls">
          <textarea name="accomplishments" id="accomplishments" rows="5" class="form-control"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="accomplishments">Accomplishments</label>
      <div id="accomplishmentList" class="accomplishmentList">
        <div><input type="text" name="accomplishment" class="form-control"></div>
      </div>
      <button id="addAccomplishment" class="btn btn-default">Add Accomplishment</button>
    </div>

    <div class="input-append">
      <input class="" id="appendedInputButton" type="text">
      <button class="btn" type="button">Go!</button>
    </div>

    <div class="form-group">
      <label class="control-label" for="todos">Things to do tomorrow</label>
      <div class="controls">
          <textarea name="todos" id="todos" rows="5" class="form-control"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="enjoy">How enjoyable was today? (1 - 10)</label>
      <div class="controls">
          <input name="enjoy" id="enjoy" type="number" min="1" max="10" class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="effective">How effective were you today? (1 - 10)</label>
      <div class="controls">
          <input name="effective" id="effective" type="number" min="1" max="10" class="form-control"/>
      </div>
    </div>

    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</template>