<template name="formElement">
  <div class="form-group">
    <label class="control-label" for="{{id}}">{{label}}</label>
    <div class="controls">
      {{#if equals formElement "text"}}
        {{> formText}}
      {{/if}}
      {{#if equals formElement "textarea"}}
        {{> formTextarea}}
      {{/if}}
      {{#if equals formElement "number"}}
        {{> formNumber}}
      {{/if}}
      {{#if equals formElement "select"}}
        {{> formSelect}}
      {{/if}}
      {{#if equals formElement "radios"}}
        {{> formRadios}}
      {{/if}}
    </div>
  </div>
</template>